body{
    background: url("images/statuspic.jpg") no-repeat center center fixed;
    background-size: cover;
    font-size: 17px;
}
*{
    margin: 0;
}
#header{
    padding: 20px;
    margin-top: 10px;
    height:100px;
    display: flex;
    flex-wrap: wrap;
}
#pghead{
    color:beige;
    font-size: 50px;
    min-width:1100px;
    flex:1;
    text-shadow: 2px 2px 5px #000;
}
a{
    text-decoration: none;
}
#searchbox{
    flex: 1;
    height:65px;
    background: linear-gradient(beige,#e27b2c);
    background: -webkit-linear-gradient(beige,#e27b2c);
    background: -moz-linear-gradient(beige,#e27b2c);
    background: -o-linear-gradient(beige,#e27b2c);
    min-width: 300px;
    opacity: 0.8;
    display: flex;
    place-items: center center;
    place-content: center center;
}
#search{
    height: 27px;
    width: 150px;
    background-color: black;
    color:beige;
    border: 2px solid beige;
    border-radius: 5px;
}
#submit{
    background-color: #e27b2c;
    height: 27px;
    width:60px;
    border-radius: 5px;
    border: 2px solid beige;
    font-weight: bold
}

#menu{
    height: auto;
    min-height: 65px;
    margin-top: 40px;
    background-color: beige;
    opacity: 0.8;
    padding: 15px 0 ;
    place-items: center center;
    display: flex;
    flex-wrap: wrap;
    position:inherit;
    z-index:5;
}
ul{
    list-style: none;
}
#menu ul li{
    float:left;
    padding: 0 20px;
    height: 30px;
    border-right: 2px solid black;
    opacity: 1;
    text-align: center;
    cursor: pointer;
}
#menu ul li:last-child a{
    border-right: 0px;
}

#menu ul li{
    
    width: 220px;
    line-height: 30px;
    transition: background-color  0.3s ease;
    -webkit-transition: background-color  0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
    
}

#menu ul ul{
    display: none;
    font-size: 10px;
    transition: background-color  0.3s ease;
    -webkit-transition: background-color  0.3s ease;
    -moz-transition: background-color 0.3s ease;
    -o-transition: background-color 0.3s ease;
    -ms-transition: background-color 0.3s ease;
}
#menu ul ul li{
    border-left: 2px solid black;
    font-size: 10px;
    background-color: beige;
    opacity: 1;
}
#menu ul ul li a{
    font-size: 15px;
    opacity:1;
}
#menu ul li:hover > ul {
    display: block;
    font-size: 15px;
    opacity: 1=-09876
}
#menu ul li:hover > a{
    color: beige;
    font-weight: bold;
}
#menu ul li a{
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    width: 250px;
    color: black;
    opacity: 1;
    line-height: 30px;
}

#menu ul li:hover, #menu a.active{
    background-color: black; 
    opacity: 1;
}
.jumbotron{
    margin-top: 30px;
    color: beige;
    font-size: 30px;
}
#jum{
    background-color: rgba(0,0,0,0.5);
}
.img{
    height: 200px;
}
.status{
    text-align: center;
    color: beige;
    opacity: 0.25;
    margin-bottom: 50px;
}
.status p{
    font-size: 16px;
}
.status h2{
    font-size: 22px
}
#label{
    position: absolute;
    left: 45%
}